<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Travels | Travel Buddy</title> {%load staticfiles%}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

	  <link rel="stylesheet" type="text/css" href="{% static 'travelBuddy/css/style.css' %}">
  </head>
  <body>
    <h5><a href="/logout">Log out</a></h5>
    <h1>Hello, {{user.name}}!</h1>

    {% if messages %}
      <ul>
        {% for message in messages%}
          <li class="{{message.tags}}">{{message}}</li>
        {% endfor %}
      </ul>
    {% endif %}
    <h3>Your Trip Schedules</h3>
    <table>
    <tr>
      <th>Destination</th>
      <th>Travel Start Date</th>
      <th>Travel End Date</th>
      <th>Plan</th>
    </tr>

    {%for plan in planner%}
        <tr>
          <td><a href="destination/{{plan.id}}">{{plan.destination}}</a></td>
          <td>{{plan.start_date}}</td>
          <td>{{plan.end_date}}</td>
          <td>{{plan.description}}</td>
        </tr>
    {%endfor%}
    </table>


    <h3>Other User's Travel Plans</h3>
    <table>
    <tr>
      <th>Name</th>
      <th>Destination</th>
      <th>Travel Start Date</th>
      <th>Travel End Date</th>
      <th>Do You Want to Join?</th>
    </tr>

{%for travel in travellers%}
    <tr>
      <td>{{travel.planned_by.name}}</td>
      <td><a href="destination/{{travel.id}}">{{travel.destination}}</a></td>
      <td>{{travel.start_date}}</td>
      <td>{{travel.end_date}}</td>
      <td><a href="join/{{travel.id}}">Join</a></td>

    </tr>
{%endfor%}

    </table>

    <h5 style="text-align:right"><a href="/add">Add Travel Plan</a></h5>


</body>
</html>
